.sidebar-header {
  padding: 18px;
  border-bottom: 3px solid rgba(185, 185, 185, 0.117);
  display: flex;
  align-items: center;
  gap: 15px;
}

.back-button {
  background: rgba(123, 97, 255, 0.1);
  border: 1px solid rgba(123, 97, 255, 0.3);
  color: #7b61ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.back-button:hover {
  background: rgba(123, 97, 255, 0.2);
  transform: translateX(-2px);
}

.back-button svg {
  width: 20px;
  height: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #13e3cf88;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid rgba(46, 204, 183, 0);
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}

.profile-avatar:hover {
  transform: translateY(-1px);
  background: #129494;
  box-shadow: 0 2px 15px rgba(59, 201, 214, 0.398);
}

.profile-avatar:active {
  transform: translateY(1px);
}

.profile-info h3 {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.profile-info p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #15d6c6;
  opacity: 0.8;
}


