

/* Message Styles */
.message {
  max-width: 65%;
  padding: 6px 14px;
  border-radius: 14px;
  font-family: "Crf-reg";
  position: relative;
  backdrop-filter: blur(10px);
  animation: messageAppear 0.3s ease-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.05); */
}

@keyframes messageAppear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-user {
  align-self: flex-end;
  background: linear-gradient(
    150deg,
    rgba(171, 170, 170, 0.289) 40%,
    rgba(117, 125, 123, 0.366) 70%
  );
  /* border-left: 3px solid #2a7d8d43;
  border-right: 3px solid #056f8439; */
  backdrop-filter: blur(5px);
}

.message-audience {
  align-self: flex-start;
  background: linear-gradient(
    135deg,
    rgba(176, 176, 176, 0.15) 0%,
    rgba(34, 34, 34, 0.25) 100%
  );
  /* border-left: 3px solid #b84a9e41;
  border-right: 3px solid #b84a9e3c; */
  backdrop-filter: blur(5px);
}

.message-content {
  font-size: 14px;
  line-height: 1.5;
  color: #e6e6e6;
  word-wrap: break-word;
}

.message-time {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 2px;
  text-align: left;
  display: flex;
  align-items: center;
  font-family: "Crf-reg";
  justify-content: flex-end;
  gap: 4px;
}

/* .message-user .message-time {
  color: rgba(255, 255, 255, 0.8);
}

.message-audience .message-time {
  color: rgba(227, 227, 227, 0.8);
} */

.message-status {
  font-size: 10px;
}



/* Scrollbar Styling */
.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: rgba(26, 26, 46, 0.3);
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #b2b2b5 0%, #026969 100%);
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #b5b5b7 0%, #014747 100%);
}

.message-input::-webkit-scrollbar {
  width: 8px;
}

.message-input::-webkit-scrollbar-track {
  background: rgba(26, 26, 46, 0.3);
  border-radius: 4px;
}
.message-input::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #b2b2b5 0%, #026969 100%);
  border-radius: 4px;
}

.message-input::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #b5b5b7 0%, #014747 100%);
}

/* Responsive */
@media (max-width: 768px) {
  .chat-sidebar {
    width: 280px;
  }

  .message {
    max-width: 80%;
  }
}
